body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f7e9dd;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
}


/* --------------------------------------- Organisation ---------------------------------------------- */

#title_orga {
    margin-bottom: 50px;
    margin-left: 5%;
}

.arrow-dropping {
    width: 2%;
    height: 2%;
    float:right;
}

.orga {
    display: flex;
    margin-bottom: 100px;
    font-family: 'Outfit', sans-serif;
    margin: 0px auto;
    width: 80%;
    border-radius: 20px;
    margin-top: 5%;
    padding: 2%; 
    box-shadow: inset 2px 5px 18px #e0e0e0,
            inset -5px -5px 18px #fbfbfb;
    transition: transform .5s;
}

.orga:hover {
    transform: scale(1.1);
}

img[src="img/scrum.png"] {
    margin-right: 50px;
    width: 800px;
    height: 314px;
}

img[src="img/Orga.PNG"] {
    margin-left: 50px;
    width: 742.4px;
    height: 354.4px;
}

.p_orga {
    width: 40%;
}

.img_orga {
    border-radius: 20px;
    width: 40%;
}

.reveal {
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}


/* --------------------------------------- End Organisation ---------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    border-style: solid;
    border-color: black;
    width: 200px;
    border-width: 0.5px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 50%);
    margin: 30px auto 30px auto;
}

.menu {
    display: flex;
}

.LogoTitre {
    margin-top: auto;
    margin-bottom: auto;
}

.LogoTitre img {
    height: 80px;
}


/* ----------------------- NAVIGATION ---------------------------*/

.boutonMenu {
    transition: 1s;
    display: flex;
    justify-content: center;
    border: none;
    margin: 20px;
    height: 40px;
    font-size: 1.333rem;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
    background: #f7e9dd;
    box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
}

.boutonMenu:not(#active):hover {
    box-shadow: inset 6px 6px 12px #d9d9d9, inset -6px -6px 12px #ffffff;
}

.boutonMenu div {
    margin: auto;
    margin-right: 30px;
    margin-left: 30px;
}


/* -------------------------------------- EVALUATION -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Rubik:wght@500&display=swap');
#evaluation {
    display: flex;
    font-family: 'Outfit', sans-serif;
    width: 80%;
    margin: 0px auto;
    border-radius: 20px;
    margin-top: 5%;
    padding: 2%;
    box-shadow: inset 5px 5px 18px #d9cdc2, inset -5px -5px 18px #fffff8;
}

#evaluation .neumorAvatar {
    height: 200px;
    width: 200px;
    margin: 40px;
    margin-top: 6%;
    border-radius: 123px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 18px #d9cdc2, inset -5px -5px 18px #fffff8;
}

#evaluation .neumorphisme_img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 25px;
    box-shadow: inset 5px 5px 18px #d9cdc2, inset -5px -5px 18px #fffff8;
}

#evaluation #eval_titre {
    font-family: 'Rubik', sans-serif;
    color: #fc0;
}

#evaluation #text_eval {
    width: 90%;
    text-align: justify;
}

#evaluation .column {
    flex-direction: column;
    margin-top: 5%;
}

#evaluation .flex {
    display: flex;
}

.icon {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 10px;
    margin: 0px auto;
}

#evaluation span {
    color: #fc0;
    font-weight: bold;
}


/*-------------------------- ACCUEIL --------------------------- */

#index_introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 100px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 33%);
    background-color: #fceee3;
}

#index_introduction div {
    align-self: center;
}

#TitreW2G {
    text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    font-size: 4.209em;
}

#keyword {
    text-align: center;
    font-size: 1.333rem;
}

#accroche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    font-size: 1.333rem;
}


/* --------------------------------------- Taille du texte ---------------------------------------*/

h1 {
    size: 4.209rem;
}

h2 {
    size: 3.157rem;
}

h3 {
    size: 2.369rem;
}

h4 {
    size: 1.777rem;
}

p {
    size: 1rem;
}


/* --------------------------------------- Article Projet ---------------------------------------*/

#project {
    font-family: 'Outfit', sans-serif;
    width: 80%;
    margin: 0px auto;
    border-radius: 20px;
    margin-top: 5%;
    padding: 2%;
    box-shadow: inset 2px 5px 18px #e0e0e0, inset -5px -5px 18px #fbfbfb;
    animation: appear 1s ease-out both;
}

#first-block {
    display: flex;
}

#first-block img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 25px;
    box-shadow: 9px 9px 18px #a8a8a8, -9px -9px 18px #ffffff;
}

#first-block div {
    height: 200px;
    width: 200px;
    border-radius: 123px;
    background: #e0e0e0;
    box-shadow: 25px 25px 50px #cacaca, -25px -25px 50px #f6f6f6;
    animation: appear 1s ease-out both;
}

#project h2 {
    animation: appear 1s ease-out 1 both;
}

#first-block p {
    animation: appear 1s ease-out 1 both;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*---------------------------------------------Zen-----------------------*/
#well-being{
    font-family: 'Outfit', sans-serif;
    width: 80%;
    margin: 0px auto;
    border-radius: 20px;
    margin-top: 5%;
    padding: 2%; 
    box-shadow: inset 2px 5px 18px #e0e0e0,
            inset -5px -5px 18px #fbfbfb;
    animation: appear 1s ease-out both;
}

#activite {
    display: flex;
}


#activite div {
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: space-between;

}

img{
    height: 100px;
    width: 100px;
}


/* --------------------------------------- Technologies ---------------------------------------------- */

#Technologie main h2 {
    text-align: center;
}

#blockflex {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#blockflex div {
    display: flex;
    width: 25%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: -10px -10px 20px #bebebe, 10px 10px 20px #ffffff;
    padding: 25px;
    margin-top: 50px;
    font-size: small;
}

#Technologie main> :nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: -10px -10px 20px #bebebe, 10px 10px 20px #ffffff;
    padding: 25px;
    margin-top: 50px;
}

#active {
    background: #f0d6c0;
}