
body{
    margin: 0;
    padding: 15px;
    font-size: 16px;
}
/* --------------------------------------- Organisation ---------------------------------------------- */

.orga {
    display: flex;
    margin-bottom: 100px;
}

.p_orga {
    width: 45%;
}

header{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
}
.menu{
    display: flex;
}
.LogoTitre{
    margin-top: auto;
    margin-bottom: auto;
}
.LogoTitre img{
    height: 80px;
}
.boutonMenu{
    transition: 1s;
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 40px;
    font-size: 1.5rem;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  6px 6px 12px #d9d9d9,
                -6px -6px 12px #ffffff;
}
.boutonMenu:hover{
    box-shadow: inset 6px 6px 12px #d9d9d9,
            inset -6px -6px 12px #ffffff;
}
.boutonMenu div{
    margin: auto;
    margin-right: 30px;
    margin-left: 30px;
}

/* --------------------------------------- Taille du texte ---------------------------------------*/

h1{
    size: 4.209rem;
}

h2{
    size: 3.157rem;
}

h3{
    size: 2.369rem;
}

h4{
    size: 1.777rem;
}

p{
    size: 1rem;
}

/* --------------------------------------- Article Projet ---------------------------------------*/
#first-block{
    display: flex;
}

#first-block img{

   
    margin: 1rem;
    border-radius: 153px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 39px #9d9d9d,
                -20px -20px 39px #ffffff;
}

#first-block div{
    border-radius: 153px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  14px 14px 28px #9d9d9d,
                 -14px -14px 28px #ffffff;
}



/*---------------------------------------------Zen-----------------------*/

#sondage , #fete, #sport, #culture ,#choix-cours {
    block-size: 300px;
    align-items:center;
    justify-content: space-between;
}

#well-being img{
    width: 200px;
}
